{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Django Course</title>
	<link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>

<nav>
	<div class="container">
		<div class="brand">
			<a href="/">Djago <small>Course</small></a>
		</div>
	</div>
</nav>

<div class="content">
	<div class="container">
		{% block content %}
		{% endblock %}
	</div>
</div>
	
	<script src="https://code.jquery.com/jquery-1.12.4.min.js"   integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ="   crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.form/3.51/jquery.form.min.js"></script>
	<script src="{% static 'js/main.js' %}"></script>
	{% block extra_js %}{% endblock %}

	{% if debug %}
	esto es debug
	{% else %}
	esto no es debug
	{% endif %}
</body>
</html>